name: PR Sanity Check
on: pull_request

jobs:
  link:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: install Packages
        run: |
          npm install
      
      - name: Lint check
        run: |
          npm run lint
      
      - name: Test check
        run: |
          npm run test

